body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: steelblue;
  margin-top: 20px;
  padding: 20px;
  max-width: 400px;
}

.todos li {
  color: darkslategrey;
}

.checked {
  /* background-color: darkslategrey; */
  color: darkslategrey;
  text-decoration: line-through;
}
